.metadata/
timeLog.docx
timeLog2.docx
timeLog3.docx
**/.DS_Store
**/.settings
**/bin
**/.classpath
**/.project
**/.idea
Project\ 1/bin/
**/Project 1.iml
Test\ Document.docx
Project\ 1.zip
Project\ 2.zip
Project\ 3/
Project\ 3.zip
